<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saisaiwa.tspi.nas.mapper.FileObjectMapper">
    <delete id="deleteByBucketsId">
        delete
        from t_file_object
        where buckets_id = #{bid}
    </delete>

    <select id="getListByBucketId" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where buckets_id = #{bid}
    </select>
    <select id="getRootObject" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where buckets_id = #{bid}
          and file_path = '/'
        limit 1
    </select>
</mapper>
