<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saisaiwa.tspi.nas.mapper.FileObjectMapper">
    <delete id="deleteByBucketsId">
        delete
        from t_file_object
        where buckets_id = #{bid}
          and parent_id is not null
    </delete>
    <delete id="deleteAllByFilePathAndStartWith">
        delete
        from t_file_object
        where file_path like concat(#{path}, '%')
          and parent_id is not null
    </delete>
    <delete id="deleteByRealPathAndBucketsId">
        delete from t_file_object
        where
        real_path in
        <foreach collection="paths" item="p" open="(" separator="," close=")">
            #{p}
        </foreach>
        <if test="bid neq null">
            and buckets_id = #{bid}
        </if>
        and parent_id is not null
    </delete>
    <delete id="deleteAllByRealPathAndStartWith">
        delete
        from t_file_object
        where real_path like concat(#{path}, '%')
          and parent_id is not null
    </delete>

    <delete id="deletePartByRealWithStartNotSelf">
        delete
        from t_file_object
        where real_path like concat(#{realPath}, '%')
          and parent_id is not null
          and real_path != #{realPath}
    </delete>
    <delete id="deleteAllByRealPathAndStartWithBatch">
        delete
        from t_file_object
        <where>
            and parent_id is not null
            <foreach collection="path" item="p" separator="or" open="and (" close=")">
                real_path like concat(#{p}, '%')
            </foreach>
        </where>
    </delete>

    <select id="getListByBucketId" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where buckets_id = #{bid}
    </select>
    <select id="getRootObject" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where buckets_id = #{bid}
          and file_path = '/'
        limit 1
    </select>
    <select id="searchFileObject" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where is_delete = 0
        and buckets_id = #{bucketId}
        <choose>
            <when test="parentId == null">and parent_id is null</when>
            <otherwise>and parent_id = #{parentId}</otherwise>
        </choose>
        <if test="searchName neq null and searchName neq ''">
            and file_name like concat('%',#{searchName},'%')
        </if>
        <if test="gotoPath neq null and gotoPath neq ''">
            and file_path = #{gotoPath} and is_dir = 1
        </if>
        <if test="fileType neq null and fileType.size > 0">
            and file_content_type in
            <foreach collection="fileType" item="ft" open="(" separator="," close=")">
                #{ft}
            </foreach>
        </if>
    </select>
    <select id="getByIdNoDel" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where id = #{id}
          and is_delete = 0
        limit 1
    </select>
    <select id="selectAllByStartFilePath" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where is_delete = 0
          and file_path like concat(#{path}, '%')
        order by id
    </select>
    <select id="getByFileNameAndParentId" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where parent_id = #{pid}
          and file_name = #{fileName}
          and is_delete = 0
        limit 1
    </select>
    <select id="getByRealPathAndBucketsId" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where is_delete = 0
        and real_path = #{realPath}
        <if test="bid neq null">
            and buckets_id = #{bid}
        </if>
        limit 1
    </select>
    <select id="selectAllByStartRealPath" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where is_delete = 0
          and (real_path = #{path} or real_path like concat(#{path}, '%'))
    </select>
    <select id="getDirAllListByBucketId" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select *
        from t_file_object
        where buckets_id = #{bid}
          and is_dir = 1
    </select>
    <select id="checkRealPathTheDuplicateValue" resultType="com.saisaiwa.tspi.nas.domain.entity.FileObject">
        select id, real_path, file_path,is_dir,parent_id
        from t_file_object
        where is_delete = 0
        and buckets_id = #{bucketId}
        and real_path in
        <foreach collection="realPaths" open="(" separator="," close=")" item="p">
            #{p}
        </foreach>
    </select>
</mapper>
