<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saisaiwa.tspi.nas.mapper.UserMapper">

    <select id="selectByUserAccountUser" resultType="com.saisaiwa.tspi.nas.domain.entity.User">
        select *
        from t_user
        where is_delete = 0
          and user_account = #{account}
        limit 1
    </select>
</mapper>
