<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saisaiwa.tspi.nas.mapper.UserGroupBindMapper">

    <delete id="deleteByUserId">
        delete
        from t_user_group_bind
        where user_id = #{id}
    </delete>
    <delete id="deleteByUserGroupId">
        delete
        from t_user_group_bind
        where user_group_id = #{id}
    </delete>
</mapper>
