<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saisaiwa.tspi.nas.mapper.UserMapper">

    <select id="selectByUserAccountUser" resultType="com.saisaiwa.tspi.nas.domain.entity.User">
        select *
        from t_user
        where is_delete = 0
          and user_account = #{account}
        limit 1
    </select>
    <select id="selectByAccessKeyUser" resultType="com.saisaiwa.tspi.nas.domain.entity.User">
        select *
        from t_user
        where access_key = #{ak}
          and is_delete = 0
    </select>
    <select id="selectUserExt" resultType="com.saisaiwa.tspi.nas.domain.dto.UserExtDto">
        select tu.*,
        group_concat(ug.group_name order by ugb.id desc SEPARATOR ',') as groupName
        from t_user as tu
        join t_user_group_bind as ugb on ugb.user_id = tu.id
        join t_user_group as ug on ug.id = ugb.user_group_id
        <where>
            <if test="id != null">
                and tu.id = #{id}
            </if>
            <if test="keyword neq null and keyword neq ''">
                and (
                tu.nick_name like concat('%',#{keyword},'%') or
                tu.user_account like concat('%',#{keyword},'%') or
                ug.group_name like concat('%',#{keyword},'%') or
                )
            </if>
            <if test="groupId neq null">
                and ug.id = #{groupId}
            </if>
        </where>
        group by tu.id
    </select>
</mapper>
